
.about
{
    
    text-align: center;
    font-size: 20px;
}
.btn-about
{
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
    width: 20%;
    margin-top: 2%;
}
.p-about
{
    padding-top: 2%;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.arrow
{
    font-size: 50px;
}
.img
{
    height: 50%; 
    width: 100%;
}
.end
{
    font-size: 20px;
    text-align: center;
}
.img-end
{
    width: 20%;;
    height: 20%;
}
.icons
{   
    font-size: 150%;
}
.servies
{
    height: 400px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.img-fluid
{
    max-width: 100%;
    height: 100%;
    display: block;
}
.item
{
    text-align: center
}
.caro
{
    height: 200px;
}

.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.co {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  background-color: burlywood;
  color: white;
    text-align: center;
}

.ico {
    font-size: 230%;
}
.img-intro
{
    height: 550px;
    width: 100%;
    background-image: url(images/64.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.text-intro
{
    padding-top: 27%;
}


